/* Home */
.Home{
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.mainText{
    font-size: clamp(1.25rem, 4vw, 2.5rem);
    font-weight: 500;
    text-wrap: stable;
}