/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  width: 35px;
  height: 35px;
  background: #3f5efb;
  background: linear-gradient(
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 50%;
  cursor: pointer;
}
