/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  width: 35px;
  height: 35px;
  background: #3f5efb;
  background: linear-gradient(
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 50%;
  cursor: pointer;
}

/* Thumbnails */
.Thumbnails{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.Thumbnail{
  max-width: 400px;
  cursor: pointer;
}

.ThumbnailImage{
  width: 400px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}


/* Main Article page */
.Article{
  padding: 3rem 1rem;
}